.container{
	width:600px;
	background-color: rgb(41, 0, 0);
	border: 5px solid rgb(4, 255, 4);
}
.eg1{
	background-color:teal;
	border:2px dotted rgb(38, 38, 43);
	screen-size:medium;
}
.eg2{
	background-color:thistle;
	border:2px dotted rgb(38, 38, 43);
	screen-size:small;
}
.con-1{
	display:grid;
	grid-template-columns:1fr 2fr;
	height:200px;
	border: 5px solid rgb(255, 188, 188);
}
.con-3{
	display:grid;
	grid-template-columns:1fr 1fr;
	height:200px;
	justify-content:center;
	border: 5px solid rgb(255, 188, 188);
}
.eg5{
	background-color:violet;
	border:2px dotted rgb(38, 38, 43);
	screen-size:medium;
}
.eg6{
	background-color:yellowgreen;
	border:2px dotted rgb(38, 38, 43);
	screen-size:small;
}
.con-2{
	display:grid;
	grid-template-columns:1fr 1fr;
	height:200px;
	border: 5px solid rgb(255, 188, 188);
}
.eg3{
	background-color:tomato;
	border:2px dotted rgb(38, 38, 43);
}
.eg4{
	background-color:turquoise;
	border:2px dotted rgb(38, 38, 43);
}